@import "./fonts.scss";

html,
body {
  cursor: none !important;
}

html *,
body * {
  cursor: none !important;
}

body {
  background-color: rgb(58, 58, 58);
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
}
